[Unit]
Description=Pokealert
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /root/pokealert/pokealert.py

[Install]
WantedBy=multi-user.target
Alias=pokealert.service

# cp pokealert.service /lib/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl start pokealert.service

# sudo systemctl stop pokealert.service